@model GCD0803TodoManagement.Models.Todo
@{
	ViewBag.Title = "Index";
}

<h2>Index TodoesController</h2>

<p>Hello Everybody from TodoesController</p>

<ul>
	<li>@Model.Id</li>
	<li>@Model.Description</li>
	<li>@Model.Category</li>
	<li>@Model.DueDate</li>
</ul>