@model IEnumerable<GCD0803TodoManagement.Models.ApplicationUser>
@{
	ViewBag.Title = "AddMembers";
}

<h2>Add Members to Team</h2>

@using (Html.BeginForm("AddMembers", "Teams", FormMethod.Post))
{
	<div class="form-group">
		Username:
		@Html.DropDownList("name",
			new SelectList(Model, "Id", "Username"),
			new { @class = "form-control" })
		<div class="form-group">
			<button class="btn btn-primary" type="submit">Add Member</button>
		</div>
	</div>
}

